{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">

<div class="login-container">
    <form class="form" method="post">
        {% csrf_token %}
        <p class="heading">Login</p>
        <input class="input" placeholder="Username" type="text" name="username" required  autocomplete="off">
        <input class="input" placeholder="Password" type="password" name="password" required autocomplete="off">
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
